<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="breadcrumb-shop">
        <ul class="">
            <li class="breadcrumb-shop_item"> Trang Chủ</li>
            <li class="breadcrumb-shop_item">BACKPACKS | BALO</li>
        </ul>
    </div>

    <div class="thumb-header">
        <img src="/image/z3533341777412_f5edd4a273a3ef5093b6567f1acd7b0f_1d288245ef874e9fab99f73c62539549.jpg" alt="">
    </div>

   <div class="product-list">
    <div class="product-list-header">
        <h2 class="">
            <a class="collection-name" href="">{{nameCollection}}</a>
        </h2>

        <div class="relative sort-container ">
          <div class="sort-header">
              <p class="sort-title">
                  <span class="sort-title_icon"><i class="fa-solid fa-arrow-down-a-z"></i></span>
                  <span class="sort-title_content">Sort By</span>
                  <span><i class="fa-thin fa-angle-down"></i></span>
              </p>
          </div>

          <ul class="sort-list">
            <li class="sort-option"><i class="fa-thin fa-check"></i>Sản phẩm nổi bật</li>
            <li class="sort-option">Giá: Tăng dần</li>
            <li class="sort-option">Giá: Giảm dần</li>
            <li class="sort-option">Tên: A-Z</li>
            <li class="sort-option">Tên: Z-A</li>
            <li class="sort-option">Cũ nhất</li>
            <li class="sort-option">Mới nhất</li>
          </ul>
        </div>
        
        

    </div>

    <div class="filter-container">
        <div class="filter-header ">
            <i class="fa-thin fa-filter"></i>
            <p>BỘ LỌC</p>
        </div>
        
        <div class="filter-list row">
            <div class="pd-0-15 width-22per">
              <div class="filter-list_option">
                Lọc Giá
                <i class="fa-thin fa-angle-down"></i>
              </div>
            </div>
            <div class="pd-0-15 width-22per">
              <div class="filter-list_option">
                Màu Sắc
                <i class="fa-thin fa-angle-down"></i>
              </div>
            </div>
            <div class="pd-0-15 width-22per">
              <div class="filter-list_option">
                Kích Thước
                <i class="fa-thin fa-angle-down"></i>
              </div>
            </div>
        </div>

    </div>

    <div class="product-list-container">

      {{#each data}}
        <div class="product-item">
          <a href="/product/{{this.IDSanPham}}" class="product-item_image">
            <img src="{{this.UrlAnh}}" alt="">
          </a>
          <div class="product-item_description">
            <a href="/product/{{this.IDSanPham}}">{{this.TenSanPham}}</a>
            <p>{{this.GiaSanPham}},000đ</p>
          </div>
        </div>
      {{/each}}

    </div>


  </div>

  
    
</body>

<script>
  var listProduct = []

  var listdom = document.querySelectorAll('.product-item')

  for(let i = 0 ; i < listdom.length ; i++){
    var urlImage = listdom[i].querySelector('img')
    var nameProduct = listdom[i].querySelector('.product-item_description a');
    var priceProduct = listdom[i].querySelector('.product-item_description p');

    {{!-- console.log(urlImage.src.split('http://localhost:3000')[1]) --}}

    listProduct[i] = {
      urlimg: urlImage.src.split('http://localhost:3000')[1],
      nameProduct: nameProduct.textContent,
      price: priceProduct.textContent,
    }

    
  }
  
  
  var postApi = 'http://localhost:3000/';

  fetch(postApi) 
    .then( (res) => {
      return res.json();
    })
    .then( (posts) => {
      console.log(posts)
    })

</script>

</html>